@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px !important;
}
.ui-cart-gradients{
  background-color: rgba(255,255,255,0.1);
  clip-path: polygon(0 60.00px,30px 30px,60.00px 0,100% 0,100% calc(100% - 60.00px),calc(100% - 30px) calc(100% - 30px),calc(100% - 60.00px) 100%,0 100%);
}
.img-cut{
  clip-path: polygon(0 42.00px,21px 21px,42.00px 0,100% 0,100% calc(100% - 42.00px),calc(100% - 21px) calc(100% - 21px),calc(100% - 42.00px) 100%,0 100%);

}
.btn-cut{
  clip-path: polygon(0 0,100% 0,100% calc(100% - 10.00px),calc(100% - 5px) calc(100% - 5px),calc(100% - 10.00px) 100%,0 100%);
   
}